*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px; 
}

body{
    font-family: "Work Sans", sans-serif;
    color: #0F1417;
    background-color: #fff;
    line-height: 1.5;
    font-style: normal;
    font-weight: 400;
}

button {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.2s, color 0.2s, box-shadow 0.2s;
}

button:hover{
    background: rgba(0,136,169,0.85);
}
